* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  width:100%;
}
.bgk-body {
z-index: -1;
  position: absolute;
  min-height: 100%;
  width: 100%;
}
.logoContainer {
  font-family:'Lobster', cursive; 
  font-size: 30px;
  position:absolute;
  left: 7%;
}

nav {
  position: relative;
  font-family:  sans-serif;
  text-decoration: none;
  flex-direction: row;
  padding-left: 45%;
}

/*MAIN CONTAINER STYLE */

.container {
  display: flex;
  flex-direction: column;
   background-color: antiquewhite;
   min-width: 400px;
   position:fixed;
   transform: translate(-50%, -50%);
   top:50%;
   left: 50%;
   border-radius: 10px;
   max-height: fit-content;
}
/* .resultsContainer{
  padding-top: 20px;
} */
/* input
.forms{
flex-direction: row;
} */
.inputgroup {
display: flex;
justify-content: space-around;
padding: 20px;
border-bottom: solid #ffb9b97c 2px;
}
.form-inline{
  display: flex;
  flex-direction: row;
}
/* .form-control {
border: solid 2px #ffb9b9;
border-radius: 10px;
background: none;
padding: 1rem;
font-size: 1rem;
background-color: #ffb9b97c;
transition: border 150ms cubic-bezier(0.4,0,0.2,1);
} */

/* .user-label {
position: absolute;
color: #d69191;
pointer-events: none;
transform: translateY(1rem);
transform: translateX(-2rem);
transition: 150ms cubic-bezier(0.4,0,0.2,1);
} */

/* .input:focus, input:valid {
outline: none;
border: 2px solid #f98b8b;
} */

/* .input:focus ~ label, input:valid ~ label {
transform: translateY(-50%) scale(0.8) translateX(-65%);
background-color: #f98b8b;
padding: 0 .2em;
color: #fbe2e2;
} */

#taskList{
  padding-inline: 20%;
}
.inputCenter {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  right: 10%
}
/* INPUT BOX */
input[type="text"] {
  border: solid 2px #ffb9b9;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ffb9b97c;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  width: fit-content;
  padding: 10px;
}
/* BUTTONS */
.btn{
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
    background: #fff !important;
    color: #d69191 !important;
    border: none;
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    transform: translateY(-4px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .btn:hover{
    top: -2px !important;
    pointer-events: auto;
    background: #f2a918;
    color: #fff;
    border: none;
  }
  

.edit-button{
  border: none;
  width: 60px;
  height: 60px;
  background: #fff;
  color: #d69191;
  border-radius: 55%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.edit-button:hover{
  top: -2px;
  pointer-events: auto;
  background: #f2a918;
  color: #fff;
}
.delete-button{
  border: none;
  width: 60px;
  height: 60px;
  background: #fff;
  color: #d69191;
  border-radius: 55%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.delete-button:hover{
  top: -2px;
  pointer-events: auto;
  background: #f23918;
  color: #fff;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
input[type='checkbox'] {
  accent-color: #ffb9b9;
border: solid red 10px;
}

/* .submitButton{
align-items: center;
padding-top: 10px;
padding-left: 10px;
background-color: #d69191;
} */
/* TASKS */

/* .section_form {
display: flex;
width: fit-content;
border: solid rgb(119, 194, 255);
}
.feed-form {
margin-top: 36px;
display: flex;
flex-direction:column;
width: 200px;
}

.feed-form input {
height: 54px;
border-radius: 5px;
background: rgb(255, 255, 255);
margin-bottom: 15px;
border: none;
padding: 0 20px;
font-weight: 300;
font-size: 14px;
color: #4B4B4B;
}

.button_submit:hover, .feed-form input:hover {
transform: scale(1.009);
box-shadow: 0px 0px 3px 0px #212529;
} */
/* CHECKBOXES */


/*MOVING CHECKBOX*/
/* .entry{
align-items: center;
justify-content: center;
flex-direction: row;
width: fit-content;
border: solid rgb(16, 187, 0);
}
.checkboxcontainer input:checked ~ svg .path {
stroke-dasharray: 70.5096664428711 9999999;
stroke-dashoffset: -262.2723388671875;
}

.checkbox{
    cursor: pointer;
    border: solid blue 10px;
    }
    
.checkboxcontainer input {
    display: none;
}
    
.checkboxcontainer svg {
    overflow: visible;
}
    
.path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
} */

/*BUTTONS */
