* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
}

body {
    height:100%
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.bgk-body {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
     background-color: antiquewhite;
     width: 40%;
     min-width: 450px;
     position:absolute;
     transform: translate(-50%, -50%);
     top:50%;
     left: 50%;
     border-radius: 10px;
     min-height: 100px;
}

.logoContainer {
   font-family:'Lobster', cursive; 
   font-size: 30px;
   position:absolute;
   left: 37%;
}
nav {
   
    position: relative;
    font-family:  sans-serif;
    text-decoration: none;
    
}
